doctype html
html(lang="en")
<<<<<<< HEAD
        include ./partials/_head.jade
    body#page-top
        include ./partials/_nav.jade
        block content
=======
		include ./partials/_head.jade
		
		body#page-top
			include ./partials/_nav.jade
			block content
			
			script(src='/static/jquery.js')
			//bootstrap Core Javascript
			script(src='/static/bootstrap.min.js')
			//Plugins Javascript
			script(src='/static/jquery.easing.min.js')
			script(src='/static/jquery.fittext.js')
			script(src='/static/wow.min.js')
			//Custom Theme JavaScript
			script(src='/static/creative.js')
			
>>>>>>> settingUpStaticServer
